body main.mainAdmin form{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     width: 80%;
     height: 90%;
}

body main.mainAdmin form .header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     padding: 15px 0px;
     border-bottom: solid 1px #dddcdc;
}

body main.mainAdmin form .header .titulo h1 {
     color: wheat;
     opacity: 1;
}


body main.mainAdmin form .header .titulo h1::after{
     content: 'Nuevo producto';
     transform: translateX(-99.7%) ;
     position: absolute;
     color: #fc5e5e;
}

/* SECCIÓN DE FOTOS - EDICIÓN */

body main.mainAdmin form div.header div.cardEditarProducto{
     display: flex;

}

article.fotosCargadas{
     width: 130px;
     height: auto
}

article.fotosCargadas img{
     max-width: 100%;
}




body main.mainAdmin form .form{
     display: flex;
     justify-content: space-between;
     width: 100%;
     flex: 0.8
}

body main.mainAdmin form .form section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 33%;
     

}
body main.mainAdmin form .form section.col2{
     margin:0px 30px;
}

body main.mainAdmin form .form section div{
     display: flex;
     width: 100%;
     height: 60px;
     padding: 0px;
     margin: 10px 0px;
}

body main.mainAdmin form .form section div:hover{
     opacity: 0.8;
     transition: all 0.3s ease;
}


body main.mainAdmin form .form section div label{
     width: 40%;
     line-height: 60px;
     text-align: center;
     font-size: 0.9rem;
     font-weight: bold;
     /* background-color: wheat; */
     background-color: #919191;
     color: rgb(255, 250, 242);
     border-bottom: solid 1px #fc5e5e;
     border-bottom-left-radius: 30px;
     border-top-left-radius: 30px;
     overflow: hidden;
}



body main.mainAdmin form .form section div input,
body main.mainAdmin form .form section div select,
body main.mainAdmin form .form section div textarea{
     width: 60%;
     height: 100%;
     padding: 10px;
     border: none;
     border-bottom: solid 0.5px #fccece;
     border-bottom-right-radius: 30px;
     border-top-right-radius: 30px;
     outline: none;
     color: #474747;


}


body main.mainAdmin form .form section div input:focus,
body main.mainAdmin form .form section div select:focus,
body main.mainAdmin form .form section div textarea:focus{
     border-bottom: solid 2px #fc5e5e;
     border-top: solid 2px #fc5e5e;
     transition: all 0.3s ease;
}

body main.mainAdmin form .form section .fotos input{
     display: none;
} 
body main.mainAdmin form .form section .fotos label{
     width: 100%;
     border-radius: 30px;
     border-bottom: solid 1px #fc5e5e
}

body main.mainAdmin form .form section .fotos label:hover{
     opacity: 0.8;
     transition: all 0.3s ease;

}


body main.mainAdmin form .header .submit{
     width: 200px;
     height: 40px;
     border-radius: 20px;
     overflow: hidden;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     border-bottom: solid 1px #fff;
     background-color: #fc5e5e;
     color: #fff;
}

body main.mainAdmin form .header .submit:hover{
     opacity: 0.8;
}
body main.mainAdmin form .header .submit button {
     height: 100%;
     border: none;
     background:none;
     color: #fff;
     font-size: 1rem;
}




@media screen and (max-width: 900px){
     body main.mainAdmin {
          height: 100%;
          margin-bottom: 40px;
     }
     body main.mainAdmin form{
          
          width: 80%;

     }
     body main.mainAdmin form .form{
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0.1;
     }
     body main.mainAdmin form .header{
          justify-content: space-evenly;
          margin: 20px 0px;
     }

     body main.mainAdmin form .header .titulo h1{
          font-size: 1.4rem;
     }

     body main.mainAdmin form .form section {

          width: 80%;
          
     }

     
     body main.mainAdmin form .form section.col2{
          margin:0px 0px;
     }
     body main.mainAdmin form .form section div{

          height: 30px;

     }
     body main.mainAdmin form .form section div label{
          line-height: 30px;
          background-color: #919191;
          font-size: 0.8rem;
     }

     body main.mainAdmin form .form section div input,
     body main.mainAdmin form .form section div select,
     body main.mainAdmin form .form section div textarea{
          height: 30px;
          padding: 0px 0px 0px 10px;
          


}
}



















/* 
body main.cargar form .form section .categorias select{}
body main.cargar form .form section .categorias select option{}


body main.cargar form .form section .genero {}
body main.cargar form .form section .genero label {}
body main.cargar form .form section .genero select{}
body main.cargar form .form section .genero select option{}


body main.cargar form .form section .nombre {}
body main.cargar form .form section .nombre label {}
body main.cargar form .form section .nombre input {}


body main.cargar form .form section .color {}
body main.cargar form .form section .color label {}
body main.cargar form .form section .color select{}
body main.cargar form .form section .color select option{}


body main.cargar form .form section .talle {}
body main.cargar form .form section .talle label {}
body main.cargar form .form section .talle select{}
body main.cargar form .form section .talle select option{}

body main.cargar form .form section .cantidad {}
body main.cargar form .form section .cantidad label {}
body main.cargar form .form section .cantidad input {}


body main.cargar form .form section .precio {}
body main.cargar form .form section .precio label {}
body main.cargar form .form section .precio input {}


body main.cargar form .form section .descripcion {}
body main.cargar form .form section .descripcion label {}
body main.cargar form .form section .descripcion textarea {}



body main.cargar form .form section .modelo{}
body main.cargar form .form section .modelo label {}
body main.cargar form .form section .modelo input {}

body main.cargar form .form section .composicion{}
body main.cargar form .form section .composicion label {}
body main.cargar form .form section .composicion input {}

body main.cargar form .form section .sku{}
body main.cargar form .form section .sku label {}
body main.cargar form .form section .sku input {}

body main.cargar form .form section .fotos{}*/



